@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; 
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
.weektext{
  margin-left: 1%;
}
.button{
  padding: 0.5%;
  padding-right: 1%;
  padding-left:1% ;
  border-radius: 10%;
}

.timezone{
  position:absolute;
  right: 2%;
}


body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    position: relative; 
    font-size: 1rem; 
    margin: 3%;
}

header #logo .icon {
  padding-right: .25em;
}

.topBorder{
  margin-top: 10%;
  padding-top: 10%;
  padding-left: 35%;
  padding-right: 35%;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.col {
  flex-grow: 1;
  max-width: 100%;
  
}


.col-center {
  justify-content: center;
  text-align: center;
  display: inline;
  margin-top: 5%; 
 
}

.dailyset{
  justify-content: start;
  text-align:center;
  padding-top: 0.5%;
  line-height: 10px;
  font-size: 15px;
  width: 100%;
  color: #02CAB9;
  
}


